<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>San Diego Top Spots in Angular JS</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBvKCxIp2aVsBlxGQxJJ8jvzu0sZd-ZW8Y">
    </script>
      <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js" integrity="sha256-DI6NdAhhFRnO2k51mumYeDShet3I8AKCQf/tf7ARNhI=" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="main.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
</head>

<body ng-controller="MainController">


    <header class="panel-heading">
        <h1 class="text-left">San Diego Top Spots</h1>
        <hr>
    </header>

    <div id="outerContainer">
        <h2>Welcome to San Diego!</h2>
        <!-- <button type="button" class="btn btn-success" id="mapbutton" ng-click="ShowHide()">Open Map</button> -->
        <p id="intro">Here are some great places to see in downtown San Diego. Blue Link Buttons will link you to the exact location on the Google map website. The Green button will open an embedded Google Map with all the top spots marked. Have Fun!
            </p>
         <!--    <div id="mapouter" ng-show="IsVisible">
                <h3>my div</h3>
                    <div id="map" style="height: 400px; width: 500px;">
                    </div>
                </div> -->
                <form class="form-inline">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text"  id="name" placeholder="...." ng-model = "newBear.name">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <input type="text" class="form-control" id="description" placeholder="..." ng-model="newBear.description">
  </div>
  <div class="form-group">
    <label for="location">longtitude</label>
    <input type="text" class="form-control" id="location" placeholder="..." ng-model="newBear.longitude">

  </div>
   <div class="form-group">
    <label for="location">Latitude</label>
    <input type="text" class="form-control" id="location" placeholder="..." ng-model="newBear.latitude">

  </div>
  <button type="submit" class="btn btn-default" ng-click="addNew(newBear)">Add Location</button>
</form>

                <table class="table table-striped">
                <thead>
            <tr>
                <th >Name</th>
                <th >Description</th>
                <th >Link</th>
            </tr>
        </thead>
                    <tbody>
                        <tr ng-repeat="spot in topSpots">
                            <td>{{spot.name}}</td>
                            <td>{{spot.description}}</td>
                            <td><a <a target="_blank" class="btn btn-primary" type="button" ng-href="https://www.google.com/maps?q={{spot.location[0]}},{{spot.location[1]}}">Open in Google Maps</td>
                        </tr>
                    </tbody>
                </table>
              

               <!--  <div id="mapouter" ng-controller="MapCtrl">
                    <div id="map" style="height: 400px; width: 500px;"></div>
                    <div id="class" ng-repeat="marker in markers | orderBy : 'title'">
                    <a href="#" ng-click="openInfoWindow($event, marker)">{{marker.title}}</a>
                    </div>
                </div> -->
    </div>
    <footer>by Ke Wang 2016</footer>
    <!-- jQuery -->
    <script type="text/javascript" src="index.js"></script>
    <!-- 	<script src="//code.jquery.com/jquery.js"></script> -->
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>

</html>
